.favoriteStar {
    text-decoration: none;
    color: #F86700;
    /* position: absolute; */
    /* right: 14%;
    top: 12%; */
    font-size: 2em;
    /* padding: 0;
    margin: 0; */
    /* display: flex;
    flex-direction: row; */
} 
.favoriteText {
    font-family: "Fugaz One";
    text-decoration: none; 
    color: #F86700;
    /* position: absolute; */
    /* right: 13%;
    top: 17%; */
    /* display: flex;
    flex-direction: row; */
}