.favoriteStar {
    text-decoration: none;
    color: #C1A149;
    position: absolute;
    right: 14%;
    top: 12%;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.favoriteText {
    font-family: "Fugaz One";
    text-decoration: none;
    color: #C1A149;
    position: absolute;
    right: 13%;
    top: 17%;
}