

.elementsFooter {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3.5%;
}

.YouTube, .Facebook, .Instagram {
    width: 4%;
    height: 4%;
    cursor: pointer;
    justify-content: space-around; 
} 

.copyright {
    /* background-color: beige; */
    background-color: beige;
    text-align: center;
    margin:0; 
    color: #292725;
    padding-bottom: 3%;
}

.boutonHaut {
    background-color: #ee8634;
    color: #292725;
    border-radius: 60rem;
    border-style: none;
    /* margin: 3%; */
    margin-right: 7%;
    padding-bottom: 5%;
    padding-top: 5%;
    cursor: pointer; 
    opacity: 0.8;
    transition: 0.3s;
    
}

.boutonHaut:hover {
    background-color: #ee8634;
    opacity: 1;
    color: #292725; 
    
}


.pFooter {
    color: #292725;
    margin-top: 1rem;
}

.titreApropos, .titreInfos {
    /* color: #efc966; */
    color: #ee8634;
    cursor: pointer;
   
}

.apropos {
    /* background-color: aqua; */
    width: 23%;
    margin-right: 12%;
    cursor: pointer;
}

.infos {
    /* background-color: pink; */
    width: 23%;
    margin-right: 12%;
    cursor: pointer;
}

.titreLogo {
    /* background-color: orange; */ 
    /* width: 50%; */
    margin-left: 3.5%;
    font-family: "Pacifico", cursive;
    color: #ee8634;
    cursor: pointer;
}

/* .YouTube {
    
} */

.logos {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 5%;
    gap:5%; 
    
} 

.cuisinez {
    margin-top: 1rem;
    margin-left: 3.1%;
    color:#292725; 
}