header {
  text-align: center;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
}

.mysteryRecipe {
    background-color: #8B51E1;
    padding: 10px;
    margin: 0;
}

.headerTitle {
    background-color: #FFF3CC;
    padding: 30px;
}