.mysteryRecipe {
    background-color: beige;
    text-align: center;
    padding: 0.7% 0;
    cursor: pointer;
    color: #292725;
}
.mysteryRecipe:hover {
    background-color: #edca91;
    color: white;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: beige;
    color: #ee8634;
    padding: 2% 0;

}


.headerLogo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: "Pacifico", cursive;
}

.DarkMode {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size:x-large;
    /* margin-top: 0.9rem; */
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}

.lune {
    width: 2rem;
    height: 2rem;
    margin-top: 0.9rem;
    margin-right: 1.8rem;
}

.soleil {
    width: 3.5rem;
    height: 3.5rem;
    /* margin-top: 0.9rem; */
    margin-right: 1rem;
}

/* 
header {
    position:fixed;
    width: 100%;
} */