/* src/styles/Header.css */
header {
  text-align: center;
}

.headerLogo {
  font-family: "Euphoria Script";
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #F86700;
  left: 1%;
  top: 14%;
}

.mysteryRecipe {
    background-color: #C1A149;
    padding: 10px;
    margin: 0;
}

.headerTitle {
    background-color: #000;
    padding: 20px;
}

.headerFav {

}

.DarkMode {
    position: absolute;
    font-size: 2em;
    right: 4%;
    top: 13.3%;
    cursor: pointer;
}

.headerFav {
  position: absolute;
  right: 0;
  top: 0;
}

.headerLogo {
  position: absolute;
  color: #F86700;
  left: 1%;
  top: 14%;
}

.searchAndFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchContainer {
  width: 40%;
}

.ingredientSelect {
  width: 40%;
}

.favoritesSection {
  margin-top: 20px;
}

.favoriteStar {
  text-decoration: none;
  color: #C1A149;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.favoriteText {
  font-family: "Fugaz One";
  text-decoration: none;
  color: #C1A149;
}