.navListAll {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    padding: 1%;
    background-color: #838363;
    margin: 0;
}

.navList {
    font-weight: bold;
    text-decoration: none;
    color: beige;
}

.navListNoel {
    font-weight: bold;
    text-decoration: none;
    color: #c1143f;
} 